#btn-answer {
    margin-top: 200px;
    text-align: center;
}

#btn-no {
    margin-left: 245px;
    float: left;
}

.space {
    clear: both;
}

#btn-tab {
    text-align: center;
    margin-top: 50px;
}